/*Account Pages
===============================*/
/*Account Sidebar*/
.account-sidebar {
    display: block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}
.account-sidebar .account-img {
    padding: 10px 5px;
    text-align: center;
} 
.account-sidebar .account-img img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 0 auto;
}
.account-sidebar li a {
    display: block;
    overflow: hidden;
    line-height: 40px;
    color: #333 ;
    border-top: 1px solid #eaeaea;
    padding-left: 0px;
}
.account-sidebar li:hover a,
.account-sidebar li.active a {
    background: #e3363f;
    color: #fff;
}
.account-sidebar li a i {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    border-right: 1px solid #eaeaea;
}
/*Public Profile*/
.public-profile .account-img {
    padding: 10px 5px;
    text-align: center;
} 
.public-profile .account-img img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto;
}
.public-profile .public-profile-name {
    text-align: center;
    color: #222;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 25px;
}
.profile-content{
    position: relative;
    background-color: #fff;
    padding: 20px 17px;
    border-radius: 3px;
    margin-bottom: 20px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #f1f1f1;
}
.profile-content .title{
    display: block;
    position: relative;
    margin: 10px 0px;
    background: #f6f6f6;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    color: #e3363f;
    border-radius: 5px;
    text-transform: capitalize;
}




























/*Cart
========================*/
.table-cart {
    margin: 0;
}
.table-cart thead {
    border-bottom: 1px solid #f1f1f1;
}
.table-cart tbody tr{
    border-bottom: 1px solid #f1f1f1;
}
.table-cart tbody tr:last-child{
    border-bottom: 0;
}
.table-cart th {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    color: #e3363f;
    text-transform: uppercase;
    line-height: 40px;
    padding: 5px 0;
    text-align: center;
    background: none;
}
.table-cart td {
    text-align: center;
}
.product-thumbnail img {
    width: 70px;
    height: 70px;
    margin: 5px auto;
}
.product-name a{
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.product-thumbnail{
    width: 15%;
}
.product-name,
.product-quantity{
    width: 25%;
}
.product-quantity .form-group{
    margin: 20px auto;
}
.product-quantity .form-group .form-control{
    text-align: center;
}
.product-price,
.product-remove,
.product-subtotal{
    width: 11%;
}

.product-remove > button{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #E3363F;
    border:none;
    background: #E3363F;
    color: #fff;
    border-radius: 3px;
    -webkit-transition: .3s all;
       -moz-transition: .3s all;
            transition: .3s all;
}
.product-remove > button:hover{
    background:#ED4B53;
}

@media all and (max-width:767px){
    .table-cart thead{
        display: none;
    }
    .table-cart  , .table-cart tbody , .table-cart tr{
        display: block;
        width: 100%;
    }
    .table-cart tbody > tr > td {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100% !important;
    }
    .table-cart td{
        line-height: 35px;
    }
    .table-cart tr{
        padding-bottom: 10px;   
    }
    .product-quantity .form-group {
        margin: 20px auto;
        width: 100px;
    }
}

.cart-total{
    display: block;
    position: relative;
    padding: 15px 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}
.cart-total h3 {
    margin: 0;
    display: block;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #e3363f;
}
.cart-total ul {
    margin: 15px 0 10px;
}
.cart-total ul li {
    position: relative;
    text-align: left;
    padding: 0 15px;
    overflow: hidden;
    line-height: 50px;
    border: 1px solid #e1e1e1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.cart-total ul li:last-child{
    border-top: 0;
}
.cart-total ul li span{
    float: right;
    letter-spacing: normal;
    font-size: 15px;
}
.cart-total .custom-btn {
    line-height: 35px;
    border-radius: 2px;
}
